
.selected{
	background:lightgreen;
}
.fa-user-circle{
	/*display:inline-block;*/
	color:green;
  /*display:inline-block;*/
  font-size: 25px;
  line-height: 25px;
  background-color:#333333;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: center;
  border-radius: .5rem;
  margin-right: 1.5rem;
}

ul{
	list-style:none;
}

.fa-trash-o{
  color:red;
  text-align: center;
  margin: auto 0;
  text-align: center;
   vertical-align: bottom;
}
.fa-plus{
  color:green;
  text-align: center;
  margin: auto 0;
  text-align: center;
   vertical-align: bottom;
}
.add__button:hover{
background-color:green;
}
.delete__button:hover{
background-color: red;
}
.minus__button:hover{
background-color: orange;
}
span{
	font-size: 1rem;
}
