/* .player{
	
	
	background:yellow;
} */
body{
	margin:30px;
}
.selected{
	background:lightgreen;
}
.fa-user-circle{
	display:inline-block;
	color:green;
}
.encircle{
	width:35px;
	height:35px;
	border:1px solid red;
	border-radius:100%;
	background:#f52c4c;
}
.fa-heart{
	color:white;
}
ul{
	list-style:none;
}
.container{
	border:3px solid lightgreen;
	border-radius:8px;
	background:lightblue;
}
 li{
	margin:3px;
}
h4{
	display:inline-block;
}

/* profile page starts here */
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

/*profile page closes here */